.navbar {
  display: flex;
  justify-content: space-between;
  width: 100%;
  z-index: 50;
  padding: 10px 2%;
  box-shadow: 0 0.5rem 1rem 0 rgba(83, 15, 66, 0.1);

  h3 {
    font-family: fantasy;
  }

  .p-avatar {
    border-radius: 50%;
  }
}
.navbar-right {
  display: flex;
  h4, p {
    margin: 1rem;
  }
  p {
    cursor: pointer;
    &:hover {
      color: rgb(47, 44, 245);
    }
  }
}

.main-section {
  padding: 1rem 3rem;
}

.p-datatable-thead > tr > th {
  background-color: black !important ;
  color: white !important;
}

.main-section-card {
  padding: 3rem;
  display: flex;
  flex-wrap: wrap;
  .p-card {
    margin: 10px 10px;
  }
}

.p-card-body {
  height: 100%;
  display: flex;
  flex-direction: column;

  .p-button {
    box-shadow: 0 0.5rem 1.5rem 0 rgba(83, 15, 66, 0.3);
    border-radius: 15px;
  }

  .p-card-content {
    flex-grow: 1;
  }
}

.form-content {
  .p-button {
    box-shadow: 0 0.5rem 1.5rem 0 rgba(83, 15, 66, 0.3);
    border-radius: 15px;
  }
  .p-inputtext {
    border: none;
    border-bottom: solid 0.05px;
    border-radius: 0;
    &:focus {
      box-shadow: none !important;
  }
  }
}

.error-message {
  color: red;
}

.login-dialog {
  @include respond(phone) {
    width: 50vw;
  }
  @include respond(tab-port) {
    width: 80vw;
  }
  @include respond(tab-land) {
    width: 60vw;
  }
  width: 30vw;
}
